# Zabbix Server Configuration
# Managed by Ansible

LogType=file
LogFile=/var/log/zabbix/zabbix_server.log

DBHost=192.168.1.113
DBName=zabbix
DBUser={{ zabbix_db_user | default('zabbix') }}
DBPassword={{ zabbix_db_password | default('zabbix') }}
DBSocket=/var/run/postgresql

StartPollers=5
StartPollersUnreachable=1
StartTrappers=5
StartPingers=1
StartDiscoverers=1
StartHTTPPollers=1

JavaGateway=
JavaGatewayPort=10052
StartJavaPollers=0

StartSNMPTrapper=0

ListenPort=10051

ListenIP=0.0.0.0

HousekeepingFrequency=1
MaxHousekeeperDelete=5000
ProblemHousekeepingFrequency=60

CacheSize=32M
StartDBSyncers=4
HistoryCacheSize=16M
HistoryIndexCacheSize=4M
TrendCacheSize=4M
ValueCacheSize=8M

Timeout=30
TrapperTimeout=300
UnreachablePeriod=45
UnavailableDelay=60
UnreachableDelay=15

AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts

LogSlowQueries=3000

TmpDir=/tmp

StartProxyPollers=3

ProxyConfigFrequency=10
ProxyDataFrequency=1

AllowUnsupportedDBVersions=0
